<a href="https://colab.research.google.com/github/ChamodyaIshani99/DL-Lab/blob/main/fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("dataset.csv", encoding="utf-8-sig")

data.head()

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
0,#3577 209,14-Oct-20,Wednesday,19.0,Visa,Tap,£5,POS,Entertainment,United Kingdom,United Kingdom,United Kingdom,M,25.2,RBS,0.0
1,#3039 221,14-Oct-20,Wednesday,17.0,MasterCard,PIN,£288,POS,Services,USA,USA,USA,F,49.6,Lloyds,0.0
2,#2694 780,14-Oct-20,Wednesday,14.0,Visa,Tap,£5,POS,Restaurant,India,India,India,F,42.2,Barclays,0.0
3,#2640 960,13-Oct-20,Tuesday,14.0,Visa,Tap,£28,POS,Entertainment,United Kingdom,India,United Kingdom,F,51.0,Barclays,0.0
4,#2771 031,13-Oct-20,Tuesday,23.0,Visa,CVC,£91,Online,Electronics,USA,USA,United Kingdom,M,38.0,Halifax,1.0

In [8]:
data.shape

(53530, 16)

In [9]:
data.isnull().sum()

Transaction ID            0
Date                      0
Day of Week               1
Time                      1
Type of Card              1
Entry Mode                1
Amount                    3
Type of Transaction       1
Merchant Group            5
Country of Transaction    1
Shipping Address          6
Country of Residence      1
Gender                    2
Age                       1
Bank                      1
Fraud                     1
dtype: int64

In [10]:
data = data.dropna()

In [11]:
data.isnull().sum()

Transaction ID            0
Date                      0
Day of Week               0
Time                      0
Type of Card              0
Entry Mode                0
Amount                    0
Type of Transaction       0
Merchant Group            0
Country of Transaction    0
Shipping Address          0
Country of Residence      0
Gender                    0
Age                       0
Bank                      0
Fraud                     0
dtype: int64

In [12]:
data.shape

(53517, 16)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53517 entries, 0 to 53528
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction ID          53517 non-null  object
 1   Date                    53517 non-null  object
 2   Day of Week             53517 non-null  object
 3   Time                    53517 non-null  float64
 4   Type of Card            53517 non-null  object
 5   Entry Mode              53517 non-null  object
 6   Amount                  53517 non-null  object
 7   Type of Transaction     53517 non-null  object
 8   Merchant Group          53517 non-null  object
 9   Country of Transaction  53517 non-null  object
 10  Shipping Address        53517 non-null  object
 11  Country of Residence    53517 non-null  object
 12  Gender                  53517 non-null  object
 13  Age                     53517 non-null  float64
 14  Bank                    53517 non-null  object
 15  Fraud                   53517 non-null  float64
dtypes: float64(3), object(13)
memory usage: 6.9+ MB

In [14]:
data['Amount'] = data['Amount'].str.replace('£', '', regex=False).astype('float')

In [15]:
data.head(2)

,Transaction ID,Date,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Shipping Address,Country of Residence,Gender,Age,Bank,Fraud
0,#3577 209,14-Oct-20,Wednesday,19.0,Visa,Tap,5.0,POS,Entertainment,United Kingdom,United Kingdom,United Kingdom,M,25.2,RBS,0.0
1,#3039 221,14-Oct-20,Wednesday,17.0,MasterCard,PIN,288.0,POS,Services,USA,USA,USA,F,49.6,Lloyds,0.0

In [16]:
# Remove unnecessary columns
data = data.drop(["Transaction ID", "Date", "Shipping Address"], axis=1)

In [17]:
data.shape

(53517, 13)

In [18]:
data.head()

,Day of Week,Time,Type of Card,Entry Mode,Amount,Type of Transaction,Merchant Group,Country of Transaction,Country of Residence,Gender,Age,Bank,Fraud
0,Wednesday,19.0,Visa,Tap,5.0,POS,Entertainment,United Kingdom,United Kingdom,M,25.2,RBS,0.0
1,Wednesday,17.0,MasterCard,PIN,288.0,POS,Services,USA,USA,F,49.6,Lloyds,0.0
2,Wednesday,14.0,Visa,Tap,5.0,POS,Restaurant,India,India,F,42.2,Barclays,0.0
3,Tuesday,14.0,Visa,Tap,28.0,POS,Entertainment,United Kingdom,United Kingdom,F,51.0,Barclays,0.0
4,Tuesday,23.0,Visa,CVC,91.0,Online,Electronics,USA,United Kingdom,M,38.0,Halifax,1.0

In [19]:
data['Bank'].value_counts()

Bank
Barclays    16027
Monzo        5451
RBS          5386
Metro        5378
Barlcays     5351
Halifax      5323
Lloyds       5312
HSBC         5289
Name: count, dtype: int64

In [20]:
data['Type of Card'].value_counts()

Type of Card
Visa          28776
MasterCard    24741
Name: count, dtype: int64

In [21]:
data['Day of Week'].value_counts()

Day of Week
Wednesday    26930
Tuesday      26573
Friday           8
Thursday         6
Name: count, dtype: int64

In [22]:
# 1️⃣ Clean column name issues (like ï»¿Day of Week)
data.columns = data.columns.str.strip().str.replace('ï»¿', '', regex=False)

# 2️⃣ Clean the values in "Day of Week"
data['Day of Week'] = data['Day of Week'].astype(str).str.strip()

# 3️⃣ Now redefine and apply your function
def add_day(inptx):
    if inptx in ['Friday', 'Thursday']:
        return 'Other'
    else:
        return inptx

data['Day of Week'] = data['Day of Week'].apply(add_day)

# 4️⃣ Finally, check again
print(data['Day of Week'].value_counts())

Day of Week
Wednesday    26930
Tuesday      26573
Other           14
Name: count, dtype: int64

In [23]:
data['Day of Week']=data['Day of Week'].apply(add_day)

In [24]:
data['Day of Week'].value_counts()

Day of Week
Wednesday    26930
Tuesday      26573
Other           14
Name: count, dtype: int64